* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#section-header {
  height: 481.71px;
  background: #24053E;
  border-bottom-left-radius: 50% 25px;
  border-bottom-right-radius: 50% 25px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 32px 16px 0 16px;
}

header button {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.16px;
  border-bottom: solid 2px #44FFA1;
}

#section-header div {
  margin-top: 60px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#section-header div h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

#section-header div h1 span {
  border-bottom: solid 2px #44FFA1;
}

#section-header div button {
  width: 133px;
  height: 55px;
  background-color: #44FFA1;
  border: #44FFA1;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.16px;
  color: #24053E;
}

#img-hero {
  width: 320px;
  height: 184px;
  margin-top: 60px;
  align-self: center;
}